@import url("https://fonts.googleapis.com/css2?family=Waterfall&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Cutive+Mono&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0");

@font-face {
  font-family: invitationFont;
  src: url("../assets/fonts/KOTRA_SONGEULSSI.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: basicFont;
  src: url("../assets/fonts/GowunDodum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: roundedFont;
  src: url("../assets/fonts/NanumGothic-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: roundedFont;
  src: url("../assets/fonts/NanumGothic-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --title-color: #d97d83;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
.pin-spacer {
  overflow-x: hidden !important;
}

/* 카카오맵 버튼 없애기 */
.wrap_controllers {
  display: none !important;
}

.root_daum_roughmap {
  width: 100% !important;
  max-height: 240px !important;
}
.root_daum_roughmap_landing {
  margin: auto !important;
}
.root_daum_roughmap .wrap_btn_zoom {
  display: none !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
